.git
.gitignore
.gcloudignore
.dockerignore

node_modules
.next
out
build
coverage
.vercel

.env
.env.*
!.env.example

**/*.zip
playwright-report
test-results
reports

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
*.tsbuildinfo
