NEXT_PUBLIC_SERVER_URL=https://api.superstar-ai.xyz
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_IS_MOCK=false
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
NEXT_PUBLIC_DEBUG_MIDDLEWARE=false
NEXT_PUBLIC_DEBUG_I18N=false
NEXT_PUBLIC_DEBUG_REDIRECTS=false
NEXT_PUBLIC_DEBUG_AUTH=false
